<!DOCTYPE html>
<html><meta http-equiv="Content-Type" content="text/html; charset=gbk">
   <!-- 导航图片变换 -->
	  <script type="text/javascript">
        <!--
        $(document).ready(function(){
            changeControllBtn();
        });
        function changeControllBtn(){
            $('.mainVisualControll a').bind('mouseover focus',function(){
                if($(this).parent().hasClass('intervalBtn')){
                    return false;}
                $('.mainVisualControll a img').each(function(){
                    var onSrc = $(this).attr('src');
                    $(this).attr('src',onSrc.replace('_on.gif','.gif'));
                });
                var offSrc = $(this).find('img').attr('src');
                $(this).find('img').attr('src',offSrc.replace('.gif','_on.gif'));
            });
            $('.mainVisualControll a').bind('mouseout blur',function(){
                if($(this).parent().hasClass('intervalBtn')){
                    return false;}
                $('.mainVisualControll a img').each(function(){
                    var onSrc = $(this).attr('src');
                    $(this).attr('src',onSrc.replace('_on.gif','.gif'));
                });
            });
        }
        //-->
  </script>
 <script type="text/javascript">
                    <!--
                    var nowNoticeNum = 0;
                    var maxFootNotice = $('.footNoticeUl li').length;
                    $(document).ready(function(){
                        $('.goUp').bind('click',function(){
                            var plusNum = nowNoticeNum + 1;
                            if(plusNum == maxFootNotice){
                                plusNum = maxFootNotice-1;
                            }
                            $('.footNoticeUl').animate({
                                'top': -19 * plusNum +'px'
                            },500);
                            nowNoticeNum = plusNum;
                            return false;
                        });
                        $('.goDown').bind('click',function(){
                            var minusNum = nowNoticeNum - 1;
                            if(minusNum == -1){
                                minusNum = 0;
                            }
                            $('.footNoticeUl').animate({
                                'top': -19 * minusNum +'px'
                            },500);
                            nowNoticeNum = minusNum;
                            return false;
                        });
                    });
                    //-->
  </script>
  <script type="text/javascript">
    <!--
    $(document).ready(function(){
        showDepth2Fn();
        changeDepth2Img();
        $('.closeDepth2').click(function(){
            resetDepth2();
            $('.goMallBtn').focus();
            return false;
        });
        $('#gnb h1 a,.goMallBtn').focus(function(){
            resetDepth2();
        });
    });
    function showDepth2Fn(){
        $('.depth1>a').bind('focus mouseover',function(){
            $('.depth2Ul a').each(function(){
                $(this).removeClass('on');
            });
            $(this).next().find('li').eq(0).find('a').addClass('on');
            $('#header').css('background','url(images/bg_header_on.gif) 0 0 repeat-x');
            $('.depth1 .menu1 img').each(function(){
                var menu1Onsrc = $(this).attr('src');
                $(this).attr('src',menu1Onsrc.replace('_on.gif','_off.gif'));
            });
            var offSrc = $(this).find('img').attr('src');
            $(this).find('img').attr('src',offSrc.replace('_off.gif','_on.gif'));
            showDepth2All();
        });
    }
    function showDepth2All(){
        $('.depth2background,.depth2Ul,.closeDepth2').show();
    }
    function changeDepth2Img(){
        $('.depth2Ul a').bind('focus mouseover',function(){
            var depth2Index = $(this).parentsUntil('.depth1').parent().index();
            $('.depth1 .menu1 img').each(function(){
                var menu1Onsrc = $(this).attr('src');
                $(this).attr('src',menu1Onsrc.replace('_on.gif','_off.gif'));
            });
            $('.depth1').eq(depth2Index).find('.menu1 img').attr('src',$('.depth1').eq(depth2Index).find('.menu1 img').attr('src').replace('_off.gif','_on.gif'));
            $('.depth2Ul a').each(function(){
                $(this).removeClass('on');
            });
            $(this).addClass('on');
        });
    }
    function resetDepth2(){
        $('.depth1 .menu1 img').each(function(){
            var menu1Onsrc = $(this).attr('src');
            $(this).attr('src',menu1Onsrc.replace('_on.gif','_off.gif'));
        });
        $('.depth2background,.depth2Ul,.closeDepth2').hide();

        $('#header').css('background','url() 0 0 repeat-x');
    }

    $(document).bind('mouseover', function(e) {
        var $clicked = $(e.target);
        if (! $clicked.parents().hasClass("gnbNavi")){
            resetDepth2();
        }
    });
    -->
</script>
 <script type="text/javascript">
                    <!--
                    var nowNoticeNum = 0;
                    var maxFootNotice = $('.footNoticeUl li').length;
                    $(document).ready(function(){
                        $('.goUp').bind('click',function(){
                            var plusNum = nowNoticeNum + 1;
                            if(plusNum == maxFootNotice){
                                plusNum = maxFootNotice-1;
                            }
                            $('.footNoticeUl').animate({
                                'top': -19 * plusNum +'px'
                            },500);
                            nowNoticeNum = plusNum;
                            return false;
                        });
                        $('.goDown').bind('click',function(){
                            var minusNum = nowNoticeNum - 1;
                            if(minusNum == -1){
                                minusNum = 0;
                            }
                            $('.footNoticeUl').animate({
                                'top': -19 * minusNum +'px'
                            },500);
                            nowNoticeNum = minusNum;
                            return false;
                        });
                    });
                    //-->
 </script>
 <script language="javascript" type="text/javascript">
    
     // 设为首页
    function setHomepage(url) {
        var u = url || window.location.href;
        if (document.all) {
            document.body.style.behavior = 'url(#default#homepage)';
            document.body.setHomePage(u);
        } else if (window.sidebar) {
            if (window.netscape) {
                try {
                    netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                } catch (e) {
                    alert("该操作被浏览器拒绝，假如想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
                }
            }
            var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
            prefs.setCharPref('browser.startup.homepage','http://www.baidu.com');
        }
    }
 </script>                
<div id="portal" class="container-fluid full-width getway">
   
<div class="hPC"  style="width:100%">
<div id="header" class="gnbNavi" style="background: url(&quot;&quot;) 0px 0px repeat-x;">
    <div id="gnb" style="width:1200px">
    	   <div class="gnb_list" style="float:right;color:white;">
	   <!--头部-->
    <div class="getway-topbar" >
        <div class="getway-topbar-menubar" ng-if="isNull(whoami)" layout="row" layout-align="end center">
            <span class="getwayTopBar-button" ng-click="portlLogin()" translate>getwayTopBar.login</span>
            <span class="getwayTopBar-button">|</span>
            <span class="getwayTopBar-button" ng-click="portalRegister()" translate>getwayTopBar.register</span>
        </div>
        <div class="getway-topbar-menubar" ng-if="!isNull(whoami)" layout="row" layout-align="end center">
            <span class="getwayTopBar-button" translate>getwayTopBar.welcome</span>
            <span class="getwayTopBar-button" ng-bind="whoami.name"></span>
            <span class="getwayTopBar-button">!</span>
            <span class="getwayTopBar-button" ng-click="portalLogOut()" ng-bind="'getwayTopBar.loginout' | translate"></span>
            <span class="getwayTopBar-button">|</span>
            <span class="glyphicon glyphicon-envelope" style="color:#004221" ng-click="gotoPortalMsg()"></span>
        </div>
    </div>  
		</div>
        <h1 style="position:absolute;z-index:20;margin-top:15px;left:40px;"><a href="#"><img src="tpl/gaigai/home/logo.png" alt="MiniSo" style="height: 100px;"></a></h1>
        <div id="navigation" style="padding-left:30%;width:1200px;">
            <ul class="depth1Ul">
                <li class="depth1"  ><a href="#" class="menu1"><img    src="tpl/gaigai/home/gnb_1_off.gif" alt="Home"></a></li>
                <li class="depth1">
                  <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_7_off.gif" alt="Brand"></a>
                  <ul class="depth2Ul depth2Menu2" style="left: 0px; display: none;">
                        <li><a href="https://miangou.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.mC3emM&user_number_id=2089248980&rn=3bdeff348f6f60fe70358a7782c8accb" class="">天猫商城</a></li>
                        <li><a href="#">线下商城</a></li>
                        <li><a href="#">移动商城</a></li>
                    </ul>
                </li>
                <li class="depth1">
                  <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_2_off.gif" alt="Brand"></a>
                  <ul class="depth2Ul depth2Menu2" style="left: 0px; display: none;">
                        <li><a href="tpl/brand_introduction.html" class="">品牌简介</a></li>
                        <li><a href="tpl/brand_mission.html">品牌使命</a></li>
                        <li><a href="tpl/brand_philosophy.html" class="">品牌哲学</a></li>
                        <li><a href="tpl/brand_vision.html" class="">品牌愿景</a></li>
                    </ul>
                </li>
                <li class="depth1">
                    <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_3_off.gif" alt="Products"></a>
                    <ul class="depth2Ul depth2Menu3" style="left: 0px; display: none;">
                        <li><a href="tpl/product_tieshen.html" class="">贴身系列</a></li>
                        <li><a href="tpl/product_qinshi.html" class="">寝室系列</a></li>
                        <li><a href="tpl/product_peishi.html" class="">配饰系列</a></li>
                        <li><a href="tpl/product_lvxing.html">旅行系列</a></li>
                        <li><a href="tpl/product_huli.html">护理系列</a></li>
                        <li><a href="tpl/product_canchu.html">餐厨系列</a></li>
                        <li><a href="tpl/product_weiyu.html">卫浴系列</a></li>
                    </ul>
                </li>
                <li class="depth1">
                  <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_4_off.gif" alt="News"></a>
                  <ul class="depth2Ul depth2Menu4" style="left: 0px; display: none;">
                        <li><a href="#" class="on">微信</a></li>
                        <li><a href="http://weibo.com/wwwcottonshopcom?refer_flag=1001030101_&is_hot=1">微博</a></li>
                        <li><a href="#">活动</a></li>
                    </ul>
                </li>
                <li class="depth1">
                  <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_5_off.gif" alt="Store"></a>
                  <ul class="depth2Ul depth2Menu5" style="display: none;">
                        <li><a href="tpl/store_design.html" class="">店铺形象图</a></li>
                        <li><a href="tpl/store_dfs.html">店铺分布图</a></li>
                        <li><a href="tpl/store_development.html">店铺开发</a></li>
                        <li><a href="tpl/store_hezuozhengce.html">合作政策</a></li>
                    </ul>
                </li>
                <li class="depth1">
                    <a href="#" class="menu1"><img src="tpl/gaigai/home/gnb_6_off.gif" alt="Contac"></a>
                    <ul class="depth2Ul depth2Menu6" style="display: none;">
                        <li><a href="tpl/relation_partner.html" class="">合作机会</a></li>
                        <li><a href="tpl/relation_tojoin.html">供应商拓展</a></li>
                        <li><a href="http://search.51job.com/jobsearch/search_result.php?fromJs=1&jobarea=020000%2C00&funtype=0000&industrytype=00&keyword=%E4%B8%8A%E6%B5%B7%E6%A3%89%E8%B4%AD%E5%AE%B6%E5%B1%85%E7%94%A8%E5%93%81%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&keywordtype=2&lang=c&stype=2&postchannel=0000&fromType=1&confirmdate=9">人才招聘</a></li>
                    </ul>
                </li>
            </ul>
      <a href="#" class="closeDepth2" style="display: none;"><img src="tpl/gaigai/home/btn_close.gif" alt="Close"></a>		</div>
    </div>
    <div class="depth2background" style="display: none;"><span class="depth2visual ir" style="width:950px;margin-left:-458px">
    Love Life ,Love MiniSo</span></div>
</div></div>
  
      <div><div class="backScreen container-fluid full-width">
        <div class="innerScreen" ng-style="dynamicScreen" ng-show="showItems"></div></div>
        <!--轮播图-->
        <div id="portal_carousal" ng-init="carou={active:0,picInterval:5000,noWrapSlides:false}" class="full-width">
            <div uib-carousel active="carou.active" interval="carou.picInterval" no-wrap="carou.noWrapSlides">
                <div uib-slide style="width: 100%" ng-repeat="slide in carous" index="$index">
                    <img class="img-responsive center-block" ng-src="{{ slide.img }}" style="width:85%;height:100%; margin:auto">
                </div>
            </div>
        </div>
    </div>
  
  <!-- content -->
<div id="mainContent">
    <!-- mainFootArea start -->
    <div class="mainFootArea" style="z-index:1">
        <div class="footNoticeArea clfix" >
            <form id="frmNEWS" name="frmNEWS" method="get">
                <input type="hidden" name="BoardIdx" value="1">
                <input type="hidden" name="Idx" value="">
                <input type="hidden" name="Mode" value="">
                <h3><img src="tpl/gaigai/home/img_notice.gif" style="margin-left:40px;" alt="NOTICE&amp;NEWS"></h3>
                <div class="footNoticeWrap" style="margin-left:50px;margin-top:6px;">
                    <ul class="footNoticeUl">   
                        <li>
                            <p><a href="#" style="width:500px">吴晓波频道剖析名创优品：这家零售店为何能3年开进5大洲？</a></p>
                            <span class="dateSpan">2016.09.13</span>					</li>

                        <li>
                            <p><a href="#" style="width:500px">"优质低价”才是实体店的出路？</a></p>
                            <span class="dateSpan">2016.09.13</span>					</li>

                        <li>
                            <p><a href="#" style="width:500px">王利芬对话名创优品叶国富：实体零售转型的另一条路</a></p>
                            <span class="dateSpan">2016.09.12</span>					</li>

                        <li>
                            <p><a href="#" style="width:500px"> 决策者 | 叶国富：做消费者的幸福使者</a></p>
                            <span class="dateSpan">2016.09.12</span>					</li>

                        <li>
                            <p><a href="#" style="width:500px">羊城晚报——"名创优品?中国质造"专题系列报道</a></p>
                            <span class="dateSpan">2016.07.15</span>					</li>
                    </ul>
                </div>
                <a style="margin-top:2px;" href="#" class="goUp"><img src="tpl/gaigai/home/btn_up.gif" alt="goUp"></a>
                <a style="margin-top:2px;" href="#" class="goDown"><img src="tpl/gaigai/home/btn_down.gif" alt="goDdown"></a>          
            </form>
  <div id="footer" class="footerArea" style="width:600px;margin-right:100px; margin-top:10px;" >
            <li style="margin-left:37px;margin-top:40px;" ><a href="tpl/companyoperation_home.html" style="padding-left:20px;padding-right:20px;" ><b>公司运营</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            	<a href="tpl/productsupply_home.html" style="padding-left:20px;padding-right:20px"  ><b>商品供应</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="tpl/storeretail_home.html" style="padding-left:20px;padding-right:20px"  ><b>门店零售</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</a>
              <a href="http://www.ishangstudy.com/company/login.html" style="padding-left:10px;padding-right:15px" ><b>商学院</b></a>&nbsp;&nbsp;|&nbsp;&nbsp;  </li>
   
</div>
        </div>
		<div style="margin-right:-190px;">
        <ul class="footQuickUl clfix"   style="margin-right:-60px; margin-top:10px;">
            <li><a href="tpl/brand_introduction.html"><img src="tpl/gaigai/home/foot_quick_1.gif" alt="品牌简介" style="height:55px;windth:40px;padding-left:40px;"></a></li>
            <li><a href="tpl/brand_vision.html"><img src="tpl/gaigai/home/foot_quick_2.gif" alt="品牌愿景" style="height:55px;windth:40px;padding-left:40px;"></a></li>
            <li><a href="tpl/brand_mission.html"><img src="tpl/gaigai/home/foot_quick_3.gif" alt="品牌使命" style="height:55px;windth:40px;padding-left:40px;"></a></li>
                <li><a href="tpl/brand_philosophy.html"><img src="tpl/gaigai/home/foot_quick_4.gif" alt="品牌哲学" style="height:55px;windth:40px;padding-left:40px;" ></a></li>
        </ul>
		</div>
        <!-- footNoticeArea  end -->
    </div>
    <!-- mainFootArea  end -->
</div>
<!-- //content -->  
<!-- footer -->
<div id="footer" class="footerArea" style="width:100%;" >
    <div class="inner" style="width:1200px;">
    	 <div class="footer_center" style=" margin-top:40px;font-size:20px; font-stretch:normal; margin-left:45%;">	合作机会：19999999999	</div>
        <p class="pt5" style="margin-left:50px;margin-top:-30px;"> <a href="javascript:void(0)" onclick="setHomepage('http://www.cottonshop.com/')">设为首页</a>  版权所有@2017 cotton 沪ICP备13025291号-1  隐私保护 使用必读 意见反馈</p>
        <p class="pt5" style="margin-left:100px"><span><a class="portal-showimg" target="_blank" ng-href="{{'http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020160419194012000000646288-SAIC_SHOW_310000-30685604id5271156959524521621111129&signData=MEQCIFLPtu/tMlBhu4Olupzo+QlzqKPen1RzrKVnlQBa2OavAiBpphxOxPTV2Jr+O9x6TP7XE8oQzo6Gw9D5WO8xem/dvQ=='}}"><img ng-src="img/smallimg.png" style="width: 25px"></a></span>&nbsp;&nbsp;泸公商安备</p> 
        <div class="footer_right" style="top:6px;">
        			<img src="tpl/gaigai/home/footerlogo.jpg" alt="MINISO" style="margin-right:30px;height:80px;width:80px;">
        			<img src="tpl/gaigai/home/weibo.png" alt="MINISO" style="margin-right:30px;height:80px;width:80px;">
        			<img src="tpl/gaigai/home/tianmao.png" alt="MINISO" style="margin-right:50px;height:80px;width:80px;">
        </div>
        <div class="footer_right" style="top:90px;font-size:15px;margin-right:72px;">
        		  公众号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微博
        			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天猫
        </div>
        <div class="clfix">		</div>
    </div>
</div>

</div>
</html>